<!DOCTYPE html>
<html>
<head>
    <title>Form</title>
</head>

<body>

    <h2>Contact Form</h2>

    <form method=POST>

        <label>Name:</label><br>
        <input type="text" name="name"><br><br>

        <label>Email:</label><br>
        <input type="email" name="email"><br><br>

        <label>Password:</label><br>
        <input type="password" name="password"><br><br>

        <label>Gender:</label><br>
        <input type="radio" name="gender"> Male<br>
        <input type="radio" name="gender"> Female<br><br>

        <label>Skills:</label><br>
        <input type="checkbox"> Python<br>
        <input type="checkbox"> Data Science<br>
        <input type="checkbox"> Machine Learning<br><br>

        <label>Country:</label><br>
    

        <input type="submit" value="Submit">
        <input type="reset" value="Reset">

    </form>

</body>
</html>